{% load static %}
<div class="navbar">
    <div class="logo-div">
        <img class="logo" src="{%static 'images/whisk_527770.png'%}" alt="">
        <a href="{% url 'home'%}">Whisk and Share</a>
    </div>
    <div class="nav">
        <a href="{% url 'addRecipe'%}">Add recipes</a>
        <a href="">Connections</a>
        <a href="">Notifications</a>
        <a href="{%url 'profile' request.user.id%}">
           {%if request.user != AnonymousUser %}
           {{request.user}}
           {% else %}
           Login
           {% endif %}
        </a>
    </div>
</div>