body{
    background-color: #caafaf;
    /* background-color:#d7d7d7; */
    /* background-color:#fe7240; */
}

#welcome{
    font-size: 16px;
    margin: 0;
    line-height: 16px;
    padding: 5px;
}

.author{
    font-size: 16px;
    margin: 0;
    line-height: 16px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inner-home{
    display: grid;
    grid-template-columns: 5fr 2fr;
    position: absolute;
    top: 100px;
    z-index: -1;
    /* background-color: rgb(234 230 226); */
}

.home-recipe{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 10px;
    margin: 10px;
    background-color: #d6c8c8;
}

.home-recipe:hover {
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}

.recipe-infos{
    padding-left: 15px;
}

.recipe-date{
    text-align: end;
}

.img-class{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.recipe-img{
    height: 80%;
    width: 80%;
}

.recepies-div{
    /* background-color: rgb(234 230 226); */
}

.side-div{
    margin-top: 10px;
    background-color: #ffcb0052;
}

.side-p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

#comment{
    height: 42px;
    width: 42px;
    cursor: pointer;
}