body{
    margin: 0;  
}

a {
   text-decoration: none;
   line-height: 20px;
   font-size: 20px;
   padding: 10px;
   color: #d7d7d7;
   /* color:#272d2f; */
}

.navbar{
    background-color: #5b1919;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.logo{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.logo-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav{
    display: flex;
}