{% extends 'main.html' %}
{% load static %}
{% block styles%}
<link rel="stylesheet" href="{% static 'styles/home.css'%}">
{% endblock styles%}
{% block content%}
<div class="inner-home">
    <div class="recepies-div">
        {% for recipe in recipes %}
        <div id="{{recipe.id}}" class="home-recipe">
            <div class="recipe-infos">
                <h4 class="author">@{{recipe.author}}</h4>
                <h5 class="recipe-title">{{recipe.title}}</h5>
                <p class="recipe-body">{{recipe.body}}</p>
            </div>
            <div class="img-class">
                {% if recipe.image %}
                <img src="{{recipe.image}}" alt="nothing" class="recipe-img">
                {% endif %}
            </div>
            <img id="comment" src="{% static 'images/comment.png' %}" alt="">
            <p class="recipe-date">{{recipe.date|timesince }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="side-div">
        <p class="side-p"> You need to add friends to see their activity.</p>
    </div>
</div>
<script>
    let recipes = document.getElementsByClassName("home-recipe");
    Array.from(recipes).forEach(element => {
        element.addEventListener("click",()=>{
            console.log("okay");
            window.location.href = "recipe/"+element.id;})
    });

</script>
{% endblock %}
