{% extends 'main.html' %}
{% load static %}
{% block styles%}
<link rel="stylesheet" href="{% static 'styles/home.css'%}">
{% endblock styles%}
{% block content%}
<div class="inner-home">
    <div class="recepies-div">
        {% for recipe in recipes %}
        <div class="home-recipe">
            <div id="{{recipe.id}}" class="recipe-infos">
                <h4 class="author">@{{recipe.author}} · {{recipe.date|timesince }}</h4>
                <hr>
                <h5 class="recipe-title">{{recipe.title}}</h5>
                <p class="recipe-body">{{recipe.body}}</p>
            </div>
            <div class="img-class">
                {% if recipe.image %}
                <img src="{{recipe.image}}" alt="nothing" class="recipe-img">
                {% endif %}
            </div>
            <div class="comments-div">
                <div class="l-div" id="{{recipe.id}}">
                    <img class="likes {{recipe.liked}}" id="likes" src="{% static 'images/heart-removebg-preview.png' %}" alt="">
                    <p>{{recipe.likes.count}}</p>
                </div>
                <div class="c-div" >
                    <img class="comments" id="comment" src="{% static 'images/comment.png' %}" alt="">
                    <p>{{recipe.comments.count}} comments</p>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
    <div class="side-div">
        <p class="side-p"> You need to add friends to see their activity.</p>
    </div>
</div>
<script>
    let recipes = document.getElementsByClassName("recipe-infos");

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (const element of cookies) {
            const cookie = element.trim();
            // Check if the cookie name matches the desired name
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    Array.from(recipes).forEach(element => {
        element.addEventListener("click",()=>{
            window.location.href = "recipe/"+element.id;})
    });
    
    Array.from(document.getElementsByClassName("l-div")).forEach(element=>{
        element.addEventListener("click",()=>{
            if(element.children[0].classList[1]=='False')
            {
           let url = `like/${element.id}`;
           fetch(url,
           {method:'POST',
           headers: {
            "X-Requested-With": "XMLHttpRequest",
            "X-CSRFToken": getCookie('csrftoken'),
        }
           }).then(response=>response.json()).then(()=>{
            element.children[1].innerText = parseInt(element.children[1].innerText)+1;
            element.children[0].classList.remove('False');
            element.children[0].classList.add('True');
            element.children[0].src = "{% static 'images/heart.png' %}";
            }
           )
        }
        else{
        let url = `unlike/${element.id}`;
        fetch(url,
        {
            method:'POST',
            headers:{
                "X-Requested-With": "XMLHttpRequest",
            "X-CSRFToken": getCookie('csrftoken'),
            }
        }).then(response=>response.json()).then(()=>{
            element.children[1].innerText = parseInt(element.children[1].innerText)-1;
            element.children[0].classList.remove('True');
            element.children[0].classList.add('False');
            element.children[0].src = "{% static 'images/heart-removebg-preview.png' %}";
        })
        }
})});
    
</script>
{% endblock %}
