{% extends 'main.html' %}
{% load static %}
{% block styles%}
<link rel="stylesheet" href="{% static 'styles/recipe.css'%}">
{% endblock styles %}
{% block content %}
<div class="recipe-body">
    <a class="recipe-author" href="{% url 'profile' recipe.author.id %}">@{{recipe.author}} ~ {{recipe.date|timesince}}</a>
    <hr>
    <p>{{recipe.title}}</p>
    <hr>
    {% if recipe.image %}
        <img src="{{recipe.image}}" alt="nothing">
    {% endif %}
    <div class="recipe-div">
        <p class="recipe-p">
            {{recipe.body}}
        </p>

        <img src="{% static 'images/comment.png' %}" alt="comment">
        
    </div>
</div>
{% endblock content%}